body {
    background-color: black;
}
/*This is a commnet*/
.mainDiv {
    background-color: cadetblue;
    height: 620px;
    width: 620px;
    margin: 0 auto;
}

.mainDiv > div {
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    color: white;
}

p {
    padding: 50px;
}

.red {
    height: 200px;
    width: 200px;
    background-color: red;
}

.yellow {
    height: 200px;
    width: 200px;
    background-color: yellow;
    /*visibility: hidden;*/
}

.green {
    height: 200px;
    width: 200px;
    background-color: green;
}
